.home {
    width: 100%;
    height: 130vh;
    background-image: url("https://images.unsplash.com/photo-1435575653489-b0873ec954e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-size: cover;
    background-position: center;
  }

  
  .cover{
    width: 100%;
    height: 130vh;
    background-color: rgba(0, 0, 0, 0.36); //DE ESTA MANERA LA OPACIDAD SOLO SE LE HACE A ESTE ELEMENTO Y NO A LO QUE ESTA DENTRO DE EL
    display: flex;
    //align-items: center;
    //justify-content: center;
  
  }

//****************************************************************************

.my {
margin-top: 100px;
margin-bottom: 100px;
margin-left: 380px;
padding: auto;


}

body {
	background-color: #212127;
	color: #fff;
	font-family: sans-serif;
}

.contenedor {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.moneda {
	background-color: #4f8dcaf2;
	padding: 20px;
	margin: 20px;
	border-radius: 0px;
	width: 250px;
	text-align: center;
}

.moneda img {
	width: 50px;
}

.moneda h2 {
	margin-top: 0;
}

.cuenta-corriente {
	background-color: #fe6047;
	padding: 20px;
	margin: 20px;
	border-radius: 0px;
	width: 250px;
	text-align: center;
}

.cuenta-corriente h2 {
	margin-top: 0;
}
