<section class="home"> <!-- ESTA ES TODA LA VENTANA DE MI HOME -->
    <div class="cover"> <!-- COVER TRANSPARENCIA NEGRA-->
       
<!--  *ngFor="let index of accounts"   {{index.accountTypeId.name}}  ${{index.balance}} -->

        <div class="my" *ngFor="let index of accounts">
                
                        <body >
                            <div class="contenedor">


                                <div class="moneda">	
                                    <h2>USD</h2>
                                    <p>$ 40.10</p>
                                </div>

                                <div class="moneda">
                                    <h2>EUR</h2>
                                    <p>$ 41.20</p>
                                </div>
                            
                            
                                <div class="cuenta-corriente">
                                    <h2>{{index.accountTypeId.name}}</h2>
                                    <p>$ {{index.balance}}</p>
                                </div>

                            </div>
                        </body>
              
         </div>



    </div>
</section>










